<section id="timers">
  <div id="attack-helicopter-timer" class="timer" data-hotkey="72">
    <audio class="audio">
      <source src="<%= asset_path "alarm.mp3" %>" type="audio/mpeg">
    </audio>
    <div class="label">
      Attack helicopter
    </div>
    <div class="value" data-remaining="80" data-default="80">
      01:20
    </div>
    <div class="actions">
      <a class="start action">Start <span class="hotkey">H</span></a>
      <a class="reset action">Reset</a>
    </div>
  </div>
</section>
